.taskContainer {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    padding: 20px;
    .header{
        font-size: 1.33em;
        font-weight: 600;
    }
    .md-list-item ._md-no-style, md-list-item._md-no-proxy, .md-toolbar-tools{
        padding: 0px !important;
    }
    .md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
        background-color: #fff;
        color: #000;
    }
    .text-right{
        text-align: right;
    }
    
}

