.navbar{
    background-color: #fff;
    border-color: #fff;
    border-radius: 0px;
    border-bottom: 1px solid;
}
.logo{
  position: relative;
  font-weight: 700;
  margin-left: 15px;
  cursor: pointer;
  font-size: 20px;
  color: #FD761B;
}

.navbar-header{
  margin-top: 9px;
}
