<!DOCTYPE html>
<html ng-app="app">
<head>
</head>
<body>

    <div ng-view></div>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="~/Scripts/App/angular.min.js"></script>
    <script src="~/Scripts/App/angular-route.min.js"></script>
    
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/Scripts/App/templates.js"></script>

    <script src="~/App/factories/http/http.module.js"></script>
    <script src="~/App/factories/http/http.factory.js"></script>

    <script src="~/App/factories/user.factory.js"></script>
    <script src="~/App/factories/schedule.factory.js"></script>
    <script src="~/App/factories/company.factory.js"></script>
    <script src="~/App/factories/date.factory.js"></script>

    <script src="~/App/dashboard/dashboard.module.js"></script>
    <script src="~/App/dashboard/dashboard.ctrl.js"></script>
    <script src="~/App/dashboard/dashboard.factory.js"></script>

    <script src="~/App/userSchedule/userSchedule.module.js"></script>
    <script src="~/App/userSchedule/userSchedule.ctrl.js"></script>
    <script src="~/App/userSchedule/userSchedule.factory.js"></script>

    <script src="~/App/userSchedule/partials/modal.ctrl.js"></script>

    <script src="~/App/userSchedule/directives/editTask/editTask.js"></script>
    <script src="~/App/userSchedule/directives/editTask/editTask.factory.js"></script>

    <script src="~/App/report/report.module.js"></script>
    <script src="~/App/report/report.ctrl.js"></script>
    <script src="~/App/report/report.factory.js"></script>

    <script src="~/App/directives/navbar/navbar.js"></script>
    <script src="~/App/directives/taskContainer/taskContainer.js"></script>
    <script src="~/App/directives/task/task.js"></script>





</body>
</html>